In [7]:
import pandas as pd
import os

In [10]:
os.chdir('../')
%pwd

'd:\\Neeraj_Dixit\\Projects\\Calorie_pred'

In [ ]:
df=pd.read_csv('train_new.csv')
df.head(5)

   id     Sex  Age  Height  Weight  Duration  Heart_Rate  Body_Temp  Calories
0   0    male   36   189.0    82.0      26.0       101.0       41.0     150.0
1   1  female   64   163.0    60.0       8.0        85.0       39.7      34.0
2   2  female   51   161.0    64.0       7.0        84.0       39.8      29.0
3   3    male   20   192.0    90.0      25.0       105.0       40.7     140.0
4   4  female   38   166.0    61.0      25.0       102.0       40.6     146.0

In [12]:
df.drop('id',axis=1,inplace=True)

In [15]:
df.isnull().sum()

Sex           0
Age           0
Height        0
Weight        0
Duration      0
Heart_Rate    0
Body_Temp     0
Calories      0
dtype: int64

In [18]:
df.describe()

,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
count,750000.000000,750000.000000,750000.000000,750000.000000,750000.000000,750000.000000,750000.000000
mean,41.420404,174.697685,75.145668,15.421015,95.483995,40.036253,88.282781
std,15.175049,12.824496,13.982704,8.354095,9.449845,0.779875,62.395349
min,20.000000,126.000000,36.000000,1.000000,67.000000,37.100000,1.000000
25%,28.000000,164.000000,63.000000,8.000000,88.000000,39.600000,34.000000
50%,40.000000,174.000000,74.000000,15.000000,95.000000,40.300000,77.000000
75%,52.000000,185.000000,87.000000,23.000000,103.000000,40.700000,136.000000
max,79.000000,222.000000,132.000000,30.000000,128.000000,41.500000,314.000000

In [20]:
from sklearn.preprocessing import OneHotEncoder

In [22]:
onehot=OneHotEncoder()

In [25]:
encoder=onehot.fit_transform(df[['Sex']]).toarray()

In [29]:
encoder_df=pd.DataFrame(encoder,columns=onehot.get_feature_names_out())

In [34]:
df_encoded=pd.concat([encoder_df,df],axis=1)

In [36]:
df_encoded.drop('Sex',axis=1,inplace=True)

In [39]:
df_encoded.to_csv('Cleaned_data.csv',index=False)