In [2]:
import pandas as pd
import os

In [3]:
os.chdir('../')
%pwd

'd:\\Neeraj_Dixit\\Projects\\Calorie_pred'

In [15]:
df=pd.read_csv('test_copy.csv')
df.head(5)

       id     Sex  Age  Height  Weight  Duration  Heart_Rate  Body_Temp
0  750000    male   45   177.0    81.0       7.0        87.0       39.8
1  750001    male   26   200.0    97.0      20.0       101.0       40.5
2  750002  female   29   188.0    85.0      16.0       102.0       40.4
3  750003  female   39   172.0    73.0      20.0       107.0       40.6
4  750004  female   30   173.0    67.0      16.0        94.0       40.5

In [20]:
id=df['id']
id.head(5)
id.to_csv("id_file.csv",index=False)

In [5]:
df.drop('id',axis=1,inplace=True)

In [6]:
df.isnull().sum()

Sex           0
Age           0
Height        0
Weight        0
Duration      0
Heart_Rate    0
Body_Temp     0
dtype: int64

In [7]:
df.describe()

,Age,Height,Weight,Duration,Heart_Rate,Body_Temp
count,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000
mean,41.452464,174.725624,75.147712,15.415428,95.479084,40.036093
std,15.177769,12.822039,13.979513,8.349133,9.450161,0.778448
min,20.000000,127.000000,39.000000,1.000000,67.000000,37.100000
25%,28.000000,164.000000,63.000000,8.000000,88.000000,39.600000
50%,40.000000,174.000000,74.000000,15.000000,95.000000,40.300000
75%,52.000000,185.000000,87.000000,23.000000,103.000000,40.600000
max,79.000000,219.000000,126.000000,30.000000,128.000000,41.500000

In [8]:
from sklearn.preprocessing import OneHotEncoder

In [9]:
onehot=OneHotEncoder()

In [10]:
encoder=onehot.fit_transform(df[['Sex']]).toarray()

In [11]:
encoder_df=pd.DataFrame(encoder,columns=onehot.get_feature_names_out())

In [12]:
df_encoded=pd.concat([encoder_df,df],axis=1)

In [13]:
df_encoded.drop('Sex',axis=1,inplace=True)

In [14]:
df_encoded.to_csv('Testing_data.csv',index=False)